<hr>
<div class="container">
  <form class="form" name="newMedalForm"/ ng-submit="newMedalCtrl.saveMedal(medal)">

  <h3 class="mbm">New Beer for {{newMedalCtrl.sportName}}</h3>

  <div class="form-field">
    <label class="form-label" for="division">Beer Name:</label>
    <input class="form-input" id="division" required ng-model="medal.division"/>
  </div>

  <div class="form-field">
    <label class="form-label" for="country">Brewery:</label>
    <input class="form-input" id="country" required ng-model="medal.country"/>
  </div>

  <div class="form-field">
    <label class="form-label" for="year">Beer Type:</label>
    <select class="form-select" id="year" required ng-model="medal.year">
      <option value="IPA">IPA</option>
      <option value="DIPA">DIPA</option>
      <option value="Amber">Amber</option>
      <option value="Pilsner">Pilsner</option>
      <option value="Stout">Stout</option>
      <option value="Ale">Ale</option>
      <option value="Lager">Lager</option>
      <option value="Sour">Sour</option>
      <option value="Hefeweizen">Hefeweizen</option>
    </select>
  </div>

  <input class="btn" type="submit" value="Submit" />
</form>


<!-- Confirm medal Entry:  -->
<!-- 
<div class="row">
  <em><p>New {{newMedalCtrl.sportName}} Medal:</p></em>
  <ul>
    <li>Division: {{ medal.division }}</li>
    <li>Country: {{ medal.country }}</li>
    <li>Year: {{ medal.year }}</li>
  </ul>
</div> -->

</div>